<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Anime Wolrd</title>
      <link rel="stylesheet" type="text/css" href="/assets/stylesheet/main.css">
      <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/assets/fontawesome-free-5.6.3-web/css/all.css">
      <script type="text/javascript" src="/assets/js/myscripts.js"></script>
    </head>
    <body>
      <div class="wrapper">
        <% include partials/site-navigation.ejs %>
        <div id="main">
          <div class="imagewrapper">
            <% include partials/header.ejs %>
            <% include partials/user-navigation.ejs %>
          </div>
          <div class="container">
              <div class="content">


                  <div class="sec-intro">
                      <img class="img" src="/assets/images/tobi.jpg" alt="itachi" />
                      <img class="img" src="/assets/images/itachi.jpg" alt="kaneki" />
                      <img class="img" src="/assets/images/ichigo.jpg" alt="kaneki" />
                      <img class="img" src="/assets/images/anime1.jpg" alt="kaneki" />
                  </div>

                  <div class="sec-content">
                    <section class="detail">
                      <div class="articletitle">
                        <h2>Who we are <span class="red">?</span></h2>
                      </div>
                      <header>
                        <p>(Namra, 27th jan)</p>
                      </header>
                      <div class="marquee">
                        <p>This website is related to japanese anime and manga. It also contribute news articles.
                        The website maintains a listing of anime and manga titles, as well as people and companies involved in the production of those titles.
                        You can also bookmark or save your favourite anime as well as rate it.
                        Staff members of this site also publish their own blogs hosted on the site.</p>
                      </div>
                    </section>

                    <section class="detail">
                      <div class="articletitle">
                        <h2>Future Plans <span class="red">!</span></h2>
                      </div>
                      <header>
                        <p>(Namra, 27th jan)</p>
                      </header>
                      <div class="marquee">
                        <p>We are planning to host several regular columns, including a question-and-answer column "Hey Answerman"and a review column entitled "Shelf Life"..

                        </p>
                      </div>
                    </section>
                  </div>
                  <div class="devider">
                    <p style="text-align:center; font-weight:bold">---------------------------------------- <a href="#" id="newsdevider"><span class="red">N</span>ews <span class="red">L</span>etter </a> ----------------------------------------</p>
                  </div>
                  <div class="newswrapper">

                    <div class="newsletter">
                      <div class="newsbox">
                        <div class="thumbnail">
                          <img src="../assets/images/hxh.jpg" alt="hxh news">
                        </div>
                        <div class="newscontent">
                          <a href="https://www.animenewsnetwork.com/review/hunter-hunter-the-last-mission/.142820" target="_blank"><p>Years ago, the Hunter Association harbored a dark counterpart, an organization of Shadows that completed the missions too dubious to stain the hands of the association itself.
                                      Though it has been years since this organization was disbanded, the ashes of resentment still linger, and now a new group of foes are determined to bring the Hunters' </p></a>
                        </div>
                      </div>
                      <div class="newsbox">
                        <div class="thumbnail">
                          <img src="../assets/images/luffybadass.gif" alt="luffy">
                        </div>
                        <div class="newscontent">
                          <a href="https://comicbook.com/anime/2018/11/26/one-piece-anime-manga-theory-luffy-biggest-power/" target="_blank"> <p>One Piece fans know better than to underestimate one Monkey D. Luffy. While the hero may act immature at times, the captain of the Straw Hats is tougher than just about
                                    anyone sailing the seas. However, there are some things you cannot beat with strength alone, and one fan-theory thinks it has figured out the real reason behind Luffy’s power.</p> </a>
                        </div>
                      </div>
                    </div>

                    <div class="newsletter">
                      <div class="newsbox">
                        <div class="thumbnail">
                          <img src="../assets/images/attack-on-titan.jpg" alt="attacks on titan">
                        </div>
                        <div class="newscontent">
                          <a href="https://www.independent.co.uk/arts-entertainment/films/news/attack-on-titan-live-action-film-release-production-it-director-andy-muschietti-a8608336.html" target="_blank"> <p>Popular Japanese manga Attack on Titan will be adapted into a new live-action film by Warner Bros.
                              Variety reports that It director Andy Muschietti has been tapped for the film, with the Harry Potter franchise's David Heyman producing the film alongside Masi Oka and Andy's sister, Barbara Muschietti.</p>  </a>
                        </div>
                      </div>
                      <div class="newsbox">
                        <div class="thumbnail">
                          <img src="../assets/images/goku-broly.jpg" alt="goku-broly">
                        </div>
                        <div class="newscontent">
                          <a href="https://kotaku.com/dragon-ball-super-broly-makes-broly-the-hero-and-goku-1831964773" target="_blank"> <p>Dragon Ball Super: Broly, released in theaters last week, perfects the modern Dragon Ball formula in almost every way. I couldn’t take my eyes off it at any point during its 101-minute run time, even though everything that flashed on screen during that time was incredibly dumb and nothing I hadn’t seen before.
                                Who will summon the giant wish-granting dragon Shenron, and what will they ask for? How many beloved characters will get their shit kicked in before Goku decides to step in and save the day? What color will his hair be when he finally does? These are the correct types of questions with which to go into a Dragon Ball movie. Broly asks and answers all of them.</p> </a>
                        </div>
                      </div>
                    </div>

                  </div>



              </div>
              <% include partials/footer.ejs %>
          </div>
        </div>
      </div>
    </body>
</html>
